PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/appdb?schema=public"

GOOGLE_CLIENT_ID=
RESEND_API_KEY=
PASSWORD_RESET_FRONTEND_URL=https://batuta-reset-link.vercel.app/reset-password